.coverage
.secret

.pytest_cache/
htmlcov/
venv/
__pycache__/

# Git can't add it to the index because of Permission denied error. You will need to create it manually by preventing your user from reading it. For Windows, in the ‘security’ section of the file properties window.
test_lockedaccess.json 